body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

table {
  width: 100%;
  height: 70vh;
  color: #d9d9d9;
  background-color: #292828;
}

td {
  width: 25%;
  text-align: center;
  background-color: transparent;
  font-size: 27px;
}

td:hover {
  background-color: transparent;
  cursor: pointer;
}

#resultArea {
  height: 30vh;
  color: #d9d9d9;
  background-color: #292828;
  font-size: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#result {
  background-color: transparent;
}

#result:hover {
  background-color: transparent;
}

.highlight {
  background-color: transparent;
}
