html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 0.875rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-left: 32px;
}

hr {
  border: 1px solid lightgray;
  margin-block-start: 0;
  margin-block-end: 0;
}

.mid_section {
  display: flex;
  margin-top: 32px;
}

.sidebar {
  width: 200px;
}

.div_like_button {
  display: flex;
  align-items: center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 48px;
  margin-bottom: 8px;
  width: 60px;
  cursor: pointer;
}

.go_yellow {
  background-color: #feefc3;
  transition: width 125ms;
  width: 120px;
  cursor: pointer;
}

.nav_image {
  width: 24px;
  height: 24px;
  margin-right: 32px;
  opacity: 0.7;
  cursor: pointer;
}

span {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  width: 100%;
}

.form_and_notes_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
  flex: 1;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.logo {
  width: auto;
  height: 32px;
}

.form_to_write_note {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 500px;
  margin-bottom: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_title {
  border: none;
  font-size: 16px;
  margin-bottom: 16px;
  overflow-wrap: break-word;
}

/* Ohne diese Klasse, erscheint ein dicker schwarzer Rand um das Textfeld, wenn man es anklickt.  */
.input_title:focus {
  outline: none;
}

.input_note {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
  resize: none;
  overflow-wrap: break-word;
}

.input_note:focus {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: #202124;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}

.button_empty_trash {
  color: rgb(26, 126, 234);
  padding: 8px 24px;
  font-size: 16px;
  margin-bottom: 16px;
}

.button_empty_trash:hover {
  background-color: rgb(249, 246, 246);
}

.div_around_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notes_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.note_card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 240px;
  margin: 8px;
  padding: 16px;
  height: fit-content;
}

.note_card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.h2_note_card {
  overflow-wrap: break-word;
}

.p_note_card {
  overflow-wrap: break-word;
  /* Ohne das, läuft die Schrift aus dem Container. */
  white-space: pre-wrap;
  /* Ohne das, werden neue Zeilen aus dem Input-Feld nicht ins html übertragen. */
}

.float_right {
  float: right;
}

.trash:hover {
  cursor: pointer;
}

.button_and_delted_notes {
  display: flex;
  flex-direction: column;
}

.deleted_notes_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.popup {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_div {
  width: 50vw;
  background-color: white;
  border: 1px solid #fbbc04;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.popup_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup_title {
  margin: 0;
  width: 100%;
  border: none;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  resize: none;
}

.popup_title:focus {
  outline: none;
}

.popup_note {
  width: fit-content;
  height: auch fit-content;
  width: 100%;
  resize: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}

.popup_note:focus {
  outline: none;
}

.d_none {
  display: none;
}

@media (max-width: 800px) {
  .mid_section {
    flex-direction: column;
  }

  .form_and_notes_container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
  }
}

@media (max-width: 630px) {
  .form_to_write_note {
    width: 80%;
  }

  .note_card {
    width: 200px;
  }
}
