html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid rgb(238, 238, 238);
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
}

footer {
  border-top: 2px solid rgb(238, 238, 238);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__wordmark {
  color: rgb(255, 183, 0);
  font-size: 18px;
}

.header__h2 {
  font-size: 14px;
}

.header__div_logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__icon_language {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  cursor: pointer;
}

.header__icon_burger {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.container__section_restaurant_presentation_and_section_menus {
  flex: 1;
  border-right: 2px solid rgb(238, 238, 238);
  margin-right: 270px;
}

.align_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_restaurant_presentation {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.section_restaurant_presentation__container_main_image {
  width: 100%;
}

.section_restaurant_presentation__main_image {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.section_restaurant_presentation__logo {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  position: relative;
  top: -40px;
  left: 24px;
}

.section_restaurant_presentation__name_and_icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -24px;
}

.section_restaurant_presentation__icons {
  display: flex;
}

.section_restaurant_presentation_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.section_restaurant_presentation__ratings {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.section_restaurant_presentation__star {
  width: 16px;
  height: 16px;
}

.section_restaurant_presentation__p {
  cursor: pointer;
}

.section_restaurant_presentation__nav {
  display: flex;
  justify-content: space-between;
}

.section_menus {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.section_menus__nav {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  gap: 24px;
  height: 64px;
  align-items: center;
  border-bottom: 2px solid rgb(238, 238, 238);
  margin-bottom: 16px;
}

.section_menus__link_category {
  text-decoration: none;
  color: black;
}

.section_menus__img_container {
  width: 100%;
}

.section_menus__img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.section_menus__category_name {
  margin-top: 16px;
  margin-bottom: 16px;
}

.section_menus_add_icon {
  cursor: pointer;
}

.section_menus__dishes {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.section_menus__dish {
  display: flex;
  justify-content: space-between;
}

.section_menus__dish_name {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
}

.section_menus__ingredients {
  margin-bottom: 6px;
}

.section_shopping_cart {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  height: fit-content;
  gap: 16px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 0;
  max-height: 400px;
  overflow-y: auto;
  transition: all 225ms ease-in-out;
  background-color: white;
}

.section_shopping_cart__menu_container {
  width: 100%;
}

.section_shopping_cart__placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

.section_shopping_cart__shopping_cart_image {
  height: 32px;
  width: 32px;
  margin-bottom: 8px;
}

.section_shopping_cart__container_h3 {
  border-bottom: 2px solid rgb(238, 238, 238);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.section_shopping_cart__container_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section_shopping_cart__container_item_and_name {
  display: flex;
  gap: 8px;
}

.section_shopping_cart__icons {
  cursor: pointer;
}

.section_shopping_cart__name {
  font-size: 14px;
}

.section_shopping_cart__container_more_or_less {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.section_shopping_cart__price_sum {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  padding-top: 8px;
  padding-bottom: 8px;
}

.section_shopping_cart__button {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 128, 0);
  color: white;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.section_shopping_cart__responsive_button {
  display: none;
}

.section_shopping_cart__responsive_container {
  display: none;
}

.credits__container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.d_none {
  display: none;
}

.flex_1 {
  flex: 1;
}

.hight_100_percent {
  height: 100%;
}

.section_shopping_cart__link {
  width: 100%;
}

.payed__main {
  flex-direction: column;
  margin: 24px;
  gap: 8px;
  justify-content: flex-start;
}

.payed__footer {
  height: 80px;
  align-items: center;
  padding-top: 0;
}

@media (max-width: 570px) {
  .section_shopping_cart {
    display: none;
  }

  .section_shopping_cart {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-top: none;
    border-bottom: none;
    gap: 16px;
    padding: 16px;
    position: static;
    z-index: 1;
    top: 80px;
    right: 0;
    max-height: none;
    overflow-y: visible;
  }

  .container__section_restaurant_presentation_and_section_menus {
    margin-right: 0;
  }

  .section_shopping_cart__responsive_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    background-color: rgb(255, 128, 0);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 32px;
    font-weight: 600;
    cursor: pointer;
  }
  .section_shopping_cart__responsive_container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
  }
  .header__h2 {
    display: none;
  }

  footer {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .footer_responsive {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .d_none {
    display: none;
  }

  .d_flex {
    display: flex;
  }

  .body_height_100_percent {
    height: 100%;
  }

  main {
    flex: 1;
  }
}
