<header>
  <a class="d_none no-margin" href="/index.html"><img class="logo" src="/img/logo.png" alt="" /></a>
  <a class="no-margin" href="/index.html"><img class="logo-responsive" src="/img/logo_small.png" alt=""></a>
  <nav class="hamburger_open_menu d_none" id="menu" onclick="closeMenu()">
    <a href="/index.html">Start</a>
    <a href="/sites/wraps.html">Rezept des Tages</a>
    <a href="/sites/contact.html">Kontakt</a>
    <a href="/sites/impressum.html">Impressum</a>
    </a> 
  </nav>
  <div class="hamburger_menu" onclick="openMenu()">
    <div class="hamburger_line"></div>
    <div class="hamburger_line"></div>
    <div class="hamburger_line"></div>
 </div>
</header>
