html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* position: relative; */
}

footer {
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* margin-bottom: 8px; */
  /* padding: 16px; */
  /* border-radius: 16px; */
  /* position: fixed;
  bottom: 0; */
}

.icons_link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* .icons_link:link,
.icons_link:visited {
  color: black;
} */

.imagecontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  /* margin-bottom: 80px; */
}

.image_in_imagebox {
  height: 150px;
  margin: 2px;
  transition: all 0.2s ease-in-out;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.image_in_imagebox:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.popup {
  background-color: black;
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_div {
  background-color: black;
  display: flex;
}

.d_none {
  display: none;
}

.popup_image {
  width: 100%;
}

.icon_previous_image {
  position: absolute;
  left: 0;
  z-index: 1000;
  float: left;
  border-radius: 50px;
  padding: 8px;
  margin: 8px;
}

.icon_up {
  display: none;
}

.icon_next_image {
  position: absolute;
  right: 0;
  z-index: 999;
  float: right;
  border-radius: 50px;
  padding: 8px;
  margin: 8px;
}

.icon_down {
  display: none;
}

.icon_exit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  float: left;
  border-radius: 50px;
  padding: 8px;
  margin: 8px;
}

.icon_next_image:hover,
.icon_exit:hover,
.icon_previous_image:hover,
.icon_up:hover,
.icon_down:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
  .icon_next_image {
    position: static;
  }

  .icon_previous_image {
    display: none;
  }

  .icon_next_image {
    display: none;
  }

  .icon_up {
    display: block;
    position: static;
  }

  .icon_down {
    display: block;
    position: static;
  }

  .popup {
    flex-direction: column;
  }

  .imagecontainer {
    align-items: center;
    justify-content: center;
  }
}
