@font-face {
  font-family: "zabars";
  src: url("../fonts/zabars.ttf") format("truetype");
  font-weight: 200;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../img/5_background/body_background_11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.full_screen_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  width: 720px;
  height: 480px;
  border-radius: 10px;
  position: relative;
}

canvas {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
}

#canvasContainer {
  height: 100%;
  width: 100%;
}

h1 {
  letter-spacing: 2px;
  margin-block-start: 0;
  font-weight: bold;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin_top {
  margin-top: 100px;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.img_mute {
  margin-left: 4px;
}

.canvas_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
}

.img_home {
  width: 32px;
  height: auto;
}

.start_screen {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  width: 720px;
  height: 480px;
  border-radius: 10px;
  position: relative; */
  width: 100%;
  height: 100%;
}

.start_screen_bg_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.screen_with_back_button {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 720px;
  height: 480px;
  border-radius: 10px;
  position: relative; */
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.white_info_container {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  position: absolute;
  top: 10%;
}

.white_info_container_UserManuel {
  width: 40%;
}

.white_info_container_canvas {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  width: 30%;
  position: absolute;
  top: 100%;
}

.start_screen button,
.screen_with_back_button button,
.responsive_buttons_left button,
.responsive_buttons_right button,
.canvas_button_container button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #ff9900, #ffdd00);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: 1px solid #c65227;
  box-shadow: 2px 2px #a33d18;
}

.container_win_loose_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.start_screen button:hover,
.screen_with_back_button button:hover,
.responsive_buttons_left button:hover,
.responsive_buttons_right button:hover,
.canvas_button_container button:hover {
  transform: scale(1.1);
}

img {
  width: 24px;
  height: 24px;
}

.img_back_menu {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.lower_btns_container,
.upper_btns_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.upper_btns_container {
  top: 0;
}

.lower_btns_container {
  bottom: 0;
}

.win_loose_text {
  width: 50%;
  height: auto;
  margin-top: 10%;
}

.width_720 {
  width: 100%;
  height: 70px;
}

.key_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.white_info_container p,
.white_info_container_canvas p {
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 4px;
}

.white_info_container img,
.white_info_container_canvas img {
  width: 32px;
  height: 32px;
}

.imprint {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
}

.imprint p {
  margin: 0;
  font-size: 12px;
}

.credits_container p,
.credits_container a {
  font-size: 12px;
}

.credits_container {
  width: 100%;
}

.upper_btns_container_canvas {
  z-index: 2;
}

.responsive_button_container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
}

.absolut_top_0 {
  position: absolute;
  top: 0;
  z-index: 90;
}

.rotate_screen {
  display: none;
}

.responsive_buttons_left,
.responsive_buttons_right {
  display: flex;
}

.d_flex {
  display: flex;
}

.d_none {
  display: none !important;
}

.full_screen_button {
  display: none;
}

.fullWidth {
  width: 100vw;
}
