.link-data {
    text-decoration: none;
    color: black;
    margin-bottom: 8px;
    /* Added by Sophia: */
    margin-left: 0;
}

.link-data:hover {
    background-color: white;
    color: blue;
    text-decoration: none;
    text-underline-offset: 0;
}