header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* width: 100%; */
  box-shadow: 0px 1px 10px 0 gray;
  margin: 0;
  height: 64px;
  padding-left: 10%;
  padding-right: 10%;
}
nav {
  margin-bottom: 8px;
}
a {
  text-decoration: none;
  color: rgb(64, 59, 60);
  font-weight: 600;
  margin-left: 16px;
}
a:hover {
  color: rgb(0, 128, 0);
  text-decoration: underline rgb(0, 128, 0);
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}
.logo {
  height: 40px;
  margin-bottom: 10px;
}

/* hamburger-menu */

.hamburger_menu {
  display: none;
}
.logo-responsive {
  display: none;
}

.no-margin {
  margin: 0;
}

/* Media */

@media (max-width: 720px) {
  header {
    align-items: center;
    justify-content: space-between;
    height: 100px;
    /* Sophia: padding align with main.css */
    padding-left: 10%;
    padding-right: 10%;
  }
  .logo-responsive {
    display: block;
    height: 40px;
    width: auto;
  }
  .hamburger_line {
    width: 32px;
    height: 2px;
    background-color: gray;
    margin-top: 4px;
  }
  .hamburger_menu {
    display: block;
    width: 32px;
    cursor: pointer;
  }
  .hamburger_open_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 0;
    /* position: absolute; */
  }
  .d_none {
    display: none;
  }
  .logo {
    display: none;
  }
  a:hover {
    text-decoration: none;
  }
  a {
    margin-left: 0;
  }
}

/* @media(max-width: 500px) {
  .logo-responsive {
    padding-right: 100px;
  }
} */

/* @media (max-width: 400px) {
  .logo-responsive {
    padding-right: 120px;
  }
} */
