<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <span class="logo">Platz für Logo</span>
    <div class="sidenav_button" [routerLink]="['/']">
      <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
    </div>
    <div class="sidenav_button" [routerLink]="['/user']">
      <mat-icon>person</mat-icon>
      <span>User</span>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
