* {
  box-sizing: border-box;
}

mat-drawer-container {
  height: 100%;
  mat-drawer {
    font-size: var(--mat-toolbar-title-text-size);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: flex;
      align-items: center;
    }
    .logo {
      height: 64px;
      border-bottom: 1px lightgray solid;
      padding: 16px;
    }
    .sidenav_button {
      height: 64px;
      display: flex;
      align-items: center;
      padding: 16px;
      box-sizing: border-box;
      gap: 16px;
      cursor: pointer;
    }
  }
}

.sidenav {
  width: 300px;
}

mat-icon {
  cursor: pointer;
}

mat-toolbar-row {
  gap: 16px;
}
