body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: white;
}
.aot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/header-fixed.png);
  background-position: center;
  background-size: cover;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px 80px;
}
.logo {
  width: auto;
  height: 50px;
}
nav {
  display: flex;
}
.nav-link {
  margin-left: 16px;
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: #b2854a;
}
.nav-image {
  width: auto;
  height: 24px;
  margin-left: 16px;
}
.nav-image:hover {
  filter: drop-shadow(0px 0px 4px #ffffff);
  cursor: pointer;
}
h1 {
  font-family: "Viga", sans-serif;
  font-size: 84px;
  font-weight: 50;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}
.btn {
  padding: 16px;
  background-color: #b2854a;
  text-decoration: none;
  color: white;
}
.margin-top-48 {
  margin-top: 48px;
}

.section-quick-links {
  display: flex;
  justify-content: space-between;
  padding: 80px 80px;
  background-color: black;
  gap: 16px;
}
.quick-link {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #b2854a;
  gap: 8px;
  flex: 1;
}
.quick-link img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.festival-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
}
.buy-ticket-image-left {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
h2 {
  margin-block-start: 0;
}
.textfield {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px;
}
.vl {
  width: 1px;
  height: 250px;
  margin-right: 10px;
  background-color: white;
}
.buy-ticket-container {
  display: flex;
  justify-content: center;
  max-width: 300px;
  min-width: 100px;
  padding-left: 24px;
  padding-right: 24px;
}

.cta {
  padding: 80px 80px;
  background-color: white;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #b2854a;
}

.video-section {
  height: 600px;
  background-image: url(./img/bottom.png);
  background-position: center;
  background-size: cover;
}

footer {
  display: flex;
  padding: 80px 80px;
  background-color: black;
}
.footer-left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 16px;
  font-size: 24px;
  font-weight: 700;
}
.footer-right {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  gap: 32px;
}
.half-width {
  width: 50%;
}
.social-img {
  width: 50px;
  height: 50px;
}
.input-submit-field {
  display: flex;
  justify-content: center;
}
input {
  flex: 1;
  height: 41px;
  padding-left: 16px;
}
.button-footer {
  width: 200px;
  border-width: 0;
}

@media (max-width: 950px) {
  .festival-section {
    flex-direction: column;
    text-align: center;
  }
  .buy-ticket-image-left {
    width: 100%;
    object-fit: cover;
  }
  .vl {
    display: none;
  }
  .buy-ticket-container {
    padding-bottom: 40px;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media (max-width: 700px) {
  .hide-mobile {
    display: none;
  }
  h1 {
    font-size: 48px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .full-width-mobile {
    width: 100%;
  }
  .footer-left {
    text-align: center;
    margin-bottom: 32px;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .section-quick-links {
    flex-direction: column;
    gap: 100px;
  }
  .quick-link {
    width: 100%;
  }
}
