/* body {
  margin: 0;
} */

header {
  background-color: lightgray;
  margin: 5px;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 10px solid lightgray;
  width: calc(33% - 10px);
  margin: 5px;
}
